input {
    width: 100%;
}
.botao-create, .botao-gerar-token{
    margin: 15px 0;
}
form{
    display: none;
}
.form-create, .form-gerar-token{
    margin-bottom: 50px;
    border: solid #000000;
}
.botao-submit, .botao-submit-token{
    margin-bottom: 10px;
    width: 100px;
}
.botao-token{
    margin-bottom: 10px;
    width: 150px;
}
h4{
    text-align: center;
    font-size: 30px;
    color: black;
}